<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command patch:instead="*[@name='item:addmaster']" name="item:addmaster" type="Sitecore.Support.Shell.Framework.Commands.AddMaster,Sitecore.Support.93207" />
    </commands>
  </sitecore>
</configuration>