<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
      <commands>
        <command name="item:addmaster" type="Sitecore.Buckets.Pipelines.UI.AddMaster,Sitecore.Buckets">
          <patch:attribute name="type" value="Sitecore.Support.Buckets.Pipelines.UI.AddMaster,Sitecore.Support.93207" />
        </command>
      </commands>
      <processors>
        <uiAddFromTemplate>
          <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.AddFromTemplate,Sitecore.Kernel" method="Execute">
            <patch:attribute name="type" value="Sitecore.Support.Shell.Framework.Pipelines.AddFromTemplate,Sitecore.Support.93207" />
          </processor>
        </uiAddFromTemplate>
      </processors>
    </sitecore>
  </configuration>